@-moz-document domain("boards.4chan.org") { 
strong {font-weight: normal !important;}
    * {
	font-family:"droid sans", sans !important;
}
#removestyle {
  position: fixed;
  top: 4rem;
  right: 4rem;
  padding: 1em;
}

/*
In order, we hide:
- mobile-only elements
*/

.mobile, .bottomad, .topad, .middlead {
  display: none !important;
}

/*
http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/

*,
::before,
::after {
  -moz-box-sizing: border-box;
}

/*
https://github.com/h5bp/html5-boilerplate/commit/1d320b59a390041f25cf87d790f6472a25a512ef
*/

::-moz-selection {
  background: #b3d4fc;
}


/*
Now, normally you redefine the :focus style. I'm not.
!important needed because Stylish.
*/

:focus {
  outline: 0 !important;
}

html {
  font: 1em/1.4 droid sans;
  background: #fff;
  overflow-y: scroll;
  /*
word-break: break-all;
word-wrap: break-word;
-webkit-hyphens: auto;
-moz-hyphens: auto;
hyphens: auto;
*/
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
background: #fff;
}

/*
!important needed because Stylish.
*/

a {
  color: #a1b3ff !important;
  transition: color .6s ease !important;
  text-decoration: none !important;
}
a:hover {
  color: #1e90ff !important;
}

/*
Normalise font-weight across browsers and
ensure the right weight is chosen, not a
faux-bold which looks icky.
*/

b,
strong,
.name,
.subject,
.current {
font-weight: 700;
transition: color .6s ease;
}

/*
Remove default margin on blockquotes.
*/

blockquote {
  margin: 0;
}

/*
Correct font family set oddly in Chrome,
and set tripcodes to a monospace font
while we're at it.
*/

pre,
.postertrip {
  font-family: monospace;
  font-size: 1em;
}

/*
[code] code tags for /g/ and others [/code].
Also improve readability of pre-formatted
text in all browsers.
*/

pre {
  /*
color: #fafafa;
background-color: #3d3d3d;
padding: .5em;
border: 1px solid #2d2d2d;
margin: 0;
*/
  display: inline-block;
  white-space: pre-wrap;
  /*
word-break: break-all;
word-wrap: break-word;
*/
}

/*
Since we block the default 4chan styles,
we then need to style the prettyprint! So,
this one is pretty cool. Feel free to pick
another style from the site and replace this
section to suit your preference.
I chose Tomorrow Night Eighties;
http://jmblog.github.io/color-themes-for-google-code-prettify/
*/

.prettyprint .str { color: #9c9; }
.prettyprint .com { color: #999; }
.prettyprint .atv { color: #6cc; }
.prettyprint .typ,
.prettyprint .fun { color: #69c; }
.prettyprint .kwd { color: #c9c; }
.prettyprint .lit,
.prettyprint .atn,
.prettyprint .dec { color: #f99157; }
.prettyprint .pun,
.prettyprint .opn,
.prettyprint .clo { color: #ccc; }
.prettyprint .tag,
.prettyprint .var { color: #f2777a; }

/*
Remove the gap between images and the
bottom of their containers: h5bp.com/i/440
*/

img {
  vertical-align: top;
}

/*
Correct font-family, font-size and colour
inheritance, and remove different margins.
!important for 4 of themm, because Stylish.
*/

button,
input,
select,
textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  color: inherit !important;
  line-height: inherit !important;
  margin: 0;
}

/*
Firefox messes with the line-height apparently.
!important because Stylish.
(this fix included in the CSS above)
*/
/*
button,
input {
line-height: normal !important;
}
*/

/*
Improve usability and consistency for buttons.
*/

button,
html input[type=button],
html input[type=submit] {
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/*
Remove inner padding and border in Firefox.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
Improve readability and alignment, along with
vertical resizing only.
*/

textarea {
  vertical-align: top;
  resize: vertical;
}

/*
Here, we clearfix posts to prevent collapsing.
http://nicolasgallagher.com/micro-clearfix-hack/
*/

/*
::after {
content: '';
display: table;
clear: both;
}




BEGIN THE MAGIC


also chuck the stuff we don't like*/
.ad-plea-middle, 
.ad-plea-top, 
.ad-plea-bottom, 
a.hide-reply-button, 
div.sideArrows, 
div.boardBanner > img, 
.qr-link, div#absbot, 
div.stylechanger, 
div.deleteform, 
div.navLinks, 
a.hide-thread-button, 
div.reply input, 
div.navLinksBot, 
input[type="checkbox"]#imageExpand, 
.hide_reply_button.stub a::before, 
.postInfo input[type="checkbox"], 
#toggleMsgBtn, 
#styleSwitcher, 
#info, 
#pass > span, 
input[type="Submit"], 
#recaptcha_reload_btn, 
#recaptcha_switch_audio, 
#recaptcha_whatsthis, 
hr, .mobile 
.next, 
.prev, 
.brackets-wrap::before, 
.brackets-wrap::after {
	display:none !important;
}
/*set up some animations for later use*/
@keyframes qp-in {
  to { transform: translateY(0px); opacity: 1;}
}
@keyframes sets-in {
  from {transform: translateX(100%) translateY(-50%); opacity: 0}
  to {transform: translateX(-50%) translateY(-50%); opacity: 1;}
}
@keyframes notes-in {
  to {transform: translateY(0%); opacity: 1; }
}
@keyframes entry-in {
  from{transform:translateY(0%); opacity: 0;} 
  to{transform: translateY(0%); opacity: 1;}}


/*default animation for elements removed otherwise they might just stick around forever*/
.lol {
  opacity: 0 !important; 
  transition: opacity .6s ease !important;
} 

#qp.lol {
  transform: translateY(-150vh) !important; 
  transition: all .9s ease !important;
}

#fourchanx-settings.lol {
  transition: all .9s ease !important;
  transform: translateX(100%) translateY(-50%) !important;
}
.notification.lol {
  transform: translateY(150vh)!important; 
  opacity: 0!important; 
  transition: all .9s ease!important; 
}
.come-in { 
  opacity: 0; 
  animation:qp-in .6s ease forwards; 
}

/* hovered quoted posts */

#qp {   
  transform: translateY(-150vh);
  opacity:.05;
  animation:qp-in .6s ease forwards;
  width: 70%; z-index: 5000 !important;
  left: 5em !important; right: 5em !important;
  pointer-events: none;
}
#qp .postContainer {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,.1);
}
.qphl {
  outline: none !important;opacity: 0; 
}
#qp {
  background: transparent !important; 
  border: none !important; 
  box-shadow: none !important;
}
#qp .backlink {
  border-bottom: none !important;
}

/* inlines */

.inline, .inline .post {
  width: 100%; 
  border: none !important;
}
.inline {
  box-shadow: inset 0px 0px 4px -3px black;
}

/* notifications */

#notifications >* {
  transform: translateY(-150vh); 
  opacity: 0;	
  animation:notes-in .9s ease forwards; 	
  background: #a1b2ff !important; 
  margin-top: 5px !important;	 
}
#notifications .warning {
  background: #ffa1b2 !important;
}

/* the header bar */

#header-bar {
  background: #fff !important;
  box-shadow: 0px 2px 4px rgba(0,0,0,.10)!important;
  padding: .5em !important;
  margin-bottom: .5em !important;
  border-bottom: 1px solid #ddd !important;
  transition: all .3s ease !important;
}
#header-bar.hide-it {
  transform: translateY(-120%); 
}
#header-bar.hide-it::after {
  content: " "; 
  position: fixed; 
  top: 100%; 
  left: 0px; 
  height: 3em; 
  width: 100%; 
  background: transparent;
}
#header-bar.hide-it:hover {
  transform: translateY(0); 
}

.replylink, 
.current, 
.shortcut, 
#update-status.new {
  background-color: transparent !important;
  color: #a1b3ff !important; 
  padding: .2em !important;
  font-weight: 600 !important;
}

#update-status.new {
  background-color: transparent !important;
}

#board-list {
  position: relative;
  top: 5px;
}

/* board title */

.boardTitle {
  font-size:6rem; 
  font-weight: 600; 
  padding: 0em; 
  text-align: center;
  padding-top: 0; 
  padding-bottom: .3rem;
  background: #fff; 
  top: .5rem; 
  margin-bottom: .1rem;
  color: #aaa; 
  background: white; 
  margin: 1rem; 
  margin-left: 4rem; 
  margin-right: 4rem; 
  margin-top: 2rem; 
}
.boardSubtitle {
  text-align: center; 
  color: #aaa; 
  margin-top: -3em; 
  margin-bottom: 2em;
}

/* menu buttons */

.menu-button {visibility: collapse;}
.menu-button:after {
  content: "⨀";
  font-size: 15px;
  visibility: visible;
margin-left: -1em; 
}

/* posts */
.quotelink.you {
  font-size: 0px;
}
.quotelink.you:after {
  font-size: 8pt; 
  font-weight: bold; 
  content: "@eric"; 
  color: #cc6161;
}

.postContainer.quotesYou {
  border-left: 4px solid #a1c1ff !important;
}
.postContainer.yourPost{
  border-left: 4px solid #cc6161 !important;
}

.highlight-own:root .yourPost > .reply, .highlight-you:root .quotesYou > .reply {
    border-left: none !important;
} 

.postContainer {
  clear: both;
  overflow: auto;
  margin: 1rem; 
  padding: 1em; 
  background: #fefefe; 
  transform-style: preserve-3d;
  transform: translateZ(0);
}
.postMessage {
  padding: .5em;
  display: block;
}
.fileThumb { 
  float: left; 
  margin-left: .5em;
  margin-right: .5em;
}
.backlink {
  font-size: 0;
}
.backlink:after {
  font-size: 12px; 
  background: white;
  padding: 1px;
  margin-left: 1rem;
  transition: color .6s ease;
  font-family: lol; 
  content: '\e800'; 
}

.backlink:not(:last-child):after {
  margin-right: -1.6em; 
  transition: all .6s 1s ease;
}
.post:hover .backlink:after {
  margin-right: 0;
  transition: all .6s 0s ease;
}
.dateTime {
  padding-left: 1rem; 
  padding-right: 1rem;
}


/* FIX ME PLEASE FOR THE LOVE OF GOD AND ALL THAT IS HOLY */
.fileInfo {opacity: 0; transition: opacity .3s ease 1s; float: right; position: relative; top: -2.2em; 
right: 2.4em;}
.post:hover .fileInfo {opacity: 1 !important; transition: opacity .3s ease 0s;}
a.menu-button {float: right; opacity: 1; transition:all .2s ease 1s !important; margin: 0 !important;
top: -1.6em; left: 0; width: 100%; margin-right: -100%; z-index: 1 !important; max-height: 1.9em !important;
margin-bottom: -1em !important;
 }
 .post .menu-button::after {content: "⨀" !important;  font-size: 8pt !important;
position: fixed !important;  background: transparent !important; color: #a1b3ff !important;
position: absolute; top: .6em; right: 2.2em; opacity: 0 !important; display: table !important;
pointer-events: auto !important; transition: opacity .3s ease 1s !important;}
.post:hover .menu-button::after {opacity: 1 !important; transition: opacity .3s ease 0s !important;}


/* op dickery */
.op .postInfo {
  position: fixed; 
  top: 1em; 
  left: 1em; 
  width: 100%;
}
.post.op {
  margin-top: 0;
  padding-top: 1rem !important;
}
.post.op .fileInfo {
  padding-top: 1rem;
}
.post.op .menu-button:after {
  padding-top: 3px;
}
.op .fileThumb {
  margin-top: 1em;
}
.op .postMessage {
  margin-top: .5em;
}

/* drop menus */

#menu, .submenu {
  background: #fff !important; 
}
#menu * {
  font-size: 10px !important;
}

/* settings */

#fourchanx-settings {
	background:#fff !important;
	border-radius:5px !important;
	border:1px solid #aaa !important;
	box-shadow:0px 2px 8px rgba(0,0,0,.8) !important;
	transform: translateX(100%); opacity: 0;
	animation:sets-in .9s ease forwards; 
transition: transform .9s ease !important;

}

/* pagelist */

.pagelist {
  text-align: center; 
  padding: 1em; 
  font-size: 1em;
  margin-top: 2em; 
  margin-bottom: 2em;
  margin-left: 0; 
  margin-right: 0; 
}
.cataloglink {
  margin-top: 1rem;
}
.pagelist a {
  font-weight: bold;
}
.pages {
  color: transparent; 
  font-weight: 600 !important;
}


/* thread separators */

.thread:before {
  overflow: hidden; 
  border-top: 1px solid #f4f4f4; 
  border-bottom: 1px solid #fafafa;
  box-shadow: inset 0px 0px 2px rgba(0,0,0,.1);
  background: #ececec; 
  content: " "; 
  padding-right: 100%; 
  padding-top: 4px; 
  left: 0; 
  right: 0;
}


/* qr fun time */

.field[data-name="name"] {
  border-top-left-radius:4px !important;
}
.field[data-name="sub"] {
  border-top-right-radius:4px !important;
}
#qr-filename-container.field {
  border-bottom-left-radius:4px !important;
}
#qr input {
  margin-right:-1px !important;
  margin-bottom:-1px!important;
}
.move, .dialog.has-captcha {
  visibility: collapse;
  background: transparent !important;
}
#qr form {
  visibility: visible;
  position:fixed;
  right:0rem;
  bottom:0rem;
  background: white;
  margin-bottom: 11px;  /*only because i have a 4px white window border to blend with :) */
  margin-right: 15px;
  padding: 0em;
  transform:translateY(95%);
  z-index:1 !important;
  transition:transform 0.3s ease .5s;
  border: 1px solid #ddd !important;
  border-radius: 5px;
}
#qr form:hover, 
#qr.has-focus > form, 
#qr:hover > form {
  border: 1px solid #ddd;
  transform:translateY(0%);
  transition:transform .3s ease .05s;
}
#dump-button, #qr-filerm {
	padding-top:2px;
	float:left;
	height:20px;
}
#qr input[type="submit"] {                      /* voodoo */
  display: table !important;
  position: absolute !important; 
  float: right !important;
  right: 1px !important; 
  bottom: 2px !important;
  width: 102px !important; 
  height: 22px !important;
  margin-top: -29px !important; 
  margin-left: 0px !important;
  padding-bottom: 2px !important;
  color: #ccc !important;
  border-left: 0px !important;
  font-size: 9pt !important;
  text-transform: lowercase !important;
  -moz-appearance: none !important;
  background: #fff !important;
  border: solid #aaa 1px !important;
  border-left: solid #aaa 0px!important;
  border-bottom-right-radius: 4px !important;
  border-color: transparent !important;
}
#dump-list-container {
  background: #eee;
}
#qr form >*, #qr * {
  border-color: transparent !important;
}


}

